@CHARSET "ISO-8859-1";

#article_list
{
	list-style: none;
	margin-right: 40px;
}

#article_list li
{
	border:1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 2px 2px 12px #888;
	-webkit-box-shadow: 2px 2px 12px #888;
	box-shadow: 2px 2px 12px #888;
	padding: 5px;
	margin-bottom: 10px;
	background-color: #eef;
}

#article_list img
{
	margin: 5px;
}

.article_summary
{
	margin-left: 130px;
}

#article_list h4
{
	color: #333;
	margin-top: 5px;
	font-size: 13px;
}