@CHARSET "ISO-8859-1";

.Standard
{
	list-style: none;
}

.Standard li
{
	margin-bottom: 15px;
/*
	border-bottom: solid 1px #ccc;
*/
	padding-bottom: 5px;
}

.Standard a, .Standard a:link, .Standard a:visited
{
	color: #000;
}

.Standard a:hover, .Standard a:active
{
	text-decoration: underline;
}

.Standard img
{
	margin: 5px;
	border: solid 1px #666;
}

.Standard .article_summary
{
}

.Standard h4
{
	color: #333;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 13px;
}

.recent_articles
{
	list-style: none;
	padding-left: 0;
}

.recent_articles a
{
	font-size: 10px;
	font-weight: normal;
}

.blog_timestamp
{
	display: block;
	font-style: italic;
	margin-top: 8px;
}

.blog_tags
{
	display: block;
	font-style: italic;
	margin-top: 8px;
}

#inline_editing,
.inline_editor_toolbar {
  background-color: #F5F5F5;
  border: 1px solid #666;
  border-radius: 0;
  box-shadow: 1px 1px 3px #888888;
  padding: 4px;
  margin: 0;
}


#inline_editing a,
#inline_editing a:visited,
.inline_editor_toolbar a,
.inline_editor_toolbar a:visited
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #050505;
	padding: 4px 10px;
	background: #f8f8f8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MyUiIHN0b3AtY29sb3I9IiNiYmJiYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f8f8f8 24%, #bbbbbb 93%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,#f8f8f8), color-stop(93%,#bbbbbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 24%,#bbbbbb 93%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 24%,#bbbbbb 93%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 24%,#bbbbbb 93%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8f8f8 24%,#bbbbbb 93%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-8 */		

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(255,255,255,0.3);
	text-decoration: none;
	display: inline-block;
}

#inline_editing a:hover,
#inline_editing a:active,
.inline_editor_toolbar a:hover,
.inline_editor_toolbar a:active
{
	border: solid 1px #888;
}

#inline_editing a.pushbutton.first,
.inline_editor_toolbar a.pushbutton.first
{
    border-left: 1px solid #888;
    border-radius: 5px 0 0 5px;
}

.inline_border_shim
{
	display: none;
	position: absolute;
	border: dashed 1px #666;
	pointer-events: none;
}

#inline_editing a.pushbutton.last,
.inline_editor_toolbar a.pushbutton.last 
{
    border-radius: 0 5px 5px 0;
}

#inline_editing a.pushbutton.selected,
.inline_editor_toolbar a.pushbutton.selected 
{
    background: #316b14;
    color: #fff;
}

#inline_editing span.version,
.inline_editor_toolbar span.version 
{
  display: inline-block;
  font-size: 10pt;
  margin: 0 10px;
  vertical-align: middle;
}