@CHARSET "ISO-8859-1";

.color_picker
{
	border: solid 1px #666;
	background-color: #eee;
	-moz-box-shadow: 2px 2px 12px #444;
	-webkit-box-shadow: 2px 2px 12px #444;
	box-shadow: 2px 2px 12px #444;
	z-index: 300;
}

.color_picker table
{
	margin: 4px;
}

.color_picker td
{
	margin: 0px 2px;
	border: solid 1px #666;
	height: 8px;
	width: 8px;
	cursor: pointer;
	font-size: 8px;
}

.color_swatch
{
	margin: 2px;
	border: solid 1px #666;
	height: 12px;
	width: 12px;
	cursor: pointer;
	font-size: 12px;
}

.color_picker td.hover
{
	border: solid 1px yellow;
}

span.swatch {
    border: solid 1px #ccc;
    display: inline-block;
    margin: 0 2px 0 0;
    width: 14px;
    height: 14px;
    vertical-align: inherit;
}