@CHARSET "ISO-8859-1";

#curtain
{
	display: none;
	background-color: #333;
	z-index: 149;
	position: absolute;
}

.dialog
{
	border: solid 1px #000;
	background-color: #fff;
	display: none;
	-moz-box-shadow: 2px 2px 12px #444;
	-webkit-box-shadow: 2px 2px 12px #444;
	box-shadow: 2px 2px 12px #444;
}

.dialog_header
{
	background: #406080; 
	font-size: 10pt; 
	color: #fff;  
	width: 100%;
	font-weight: bold;
}

.dialog_header a,
.dialog_header a:link,
.dialog_header a:hover,
.dialog_header a:visited
{
	color: #fff; 
	text-decoration: none; 
	font-size: 10pt;
	font-weight: normal;
	cursor: pointer;
}

.dialog_body
{
	padding: 4px;
}

.dialog_body label
{
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
}

.progressive_search
{
	background-color: #fff;
	text-align: left;
	border: solid 1px #666;
	z-index: 250;
}

.progressive_search a
{
	display: block;
	text-decoration: none;
	color: #000;
	padding: 2px;
	border-bottom: solid 1px #aaa;
}

.progressive_search a:hover
{
	background-color: #ddd;
}

.notification
{
	border: solid 1px #666;
	border-radius: 5px;
	font-size: 12pt;
	font-weight: bold;
	background-color: #ffd;
	color: #333;
	box-shadow: 1px 1px 5px #ccc;
	z-index: 400;
	padding: 20px;
}