@CHARSET "ISO-8859-1";

ul.draggable, ol.draggable
{
	position: relative;
}

ul.draggable > li,
ol.draggable > li
{
	cursor: move;
	cursor: grab;
}

ul.draggable > li:hover,
ol.draggable > li:hover
{
	background-color: #ffc;
}

li.dragRow
{
	box-shadow: 1px 1px 15px #666;
	background-color: #fff;
	border-radius: 3px;
}	