HARSET "ISO-8859-1";

#fileshare_content
{
	width: 600px;
}	

/* box border  */
#bordered_block
{
	background-color: #fff;
	border-radius: 8px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 2px 2px 8px #CCC;
	border: solid 1px #BCBCE9;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-top: 10px;	
	text-align: left;
	margin-top: 12px;
	margin-bottom: 10px;
	width: 720px;	
	height: 400px;
	overflow: auto; 
}


/* submit button div block; border over, right aligned */
#fileshare_content #submit_block
{
	border-top: solid 2px #CCC; 
	padding-top: 15px; 
	padding-bottom: 0px; 
	margin-top: 20px;	
	margin-right: 0px;	
	margin-bottom: 10px;
}

#fileshare_content #submit_block a:link
{
	font-weight: bold;
}

#fileshare_content #submit_block a:visited
{
	color: #000000;
}
	

img.button
{
	margin-top: 15px;
}

#fileshare
{
	text-decoration: none;	
	margin: 5px; 
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#fileshare_content .layout
{
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.layout .heading
{
	float: left;
	padding: 15px;
	padding-right: 20px;
	padding-left: 10px;
	vertical-align: middle;
	text-align: middle;
}


#fileshare_content #member_select #member_scrollbox
{
	border: solid 1px  #81b1c7;
	width: 500px;
	overflow: auto; 
	text-decoration: none;	
	margin: 5px;
	margin-left: 0px; 
	border-radius: 5px;
	padding: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 2px 2px 5px #CCC;
}


#fileshare_content #member_select  #member_scrollbox  .list_member
{
	background-color: #EFF2F7; 
	border: solid 1px #BCBCE9;
	float: left; 
	margin: 5px; 
	padding-left: 4px; 
	padding-right: 7px; 
	padding-top: 3px; 
	padding-bottom: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-decoration: none;
	cursor: default;
}

#fileshare #program_scrollbox li.list_member
{
	margin: 2px;
	padding: 2px; 
	max-width: 340px;	 
	display: block;
}


#fileshare .list_member .list_action
{
	width: auto:
}

#fileshare #member_scrollbox .list_member .action, 
	#fileshare #program_scrollbox .list_member img
{
	background: none;
	padding: 0px;
	margin: 0px;
}


#member_select
{
	width: auto; 
	clear:both; 
	padding: 8px; 
}


#member_select .list_member a:link, 
	#fileshare .list_member a:link
{
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}

#member_select a:visited, 
	#fileshare .list_member a:visited
{
	text-decoration: none;
}

#fileshare .list_member a:hover
{
	background-color: #96A6CE;	
	display: block;
}	


#member_select a:link, #member_select a:visited
{
	display: inline;
	text-decoration: none;
	color: #ABB8D2;
	font-weight: bold;	
	padding-left: 5px;
	padding-right: 5px;	
}

.ann
{
	color: #2B388F;
	font-size: 12px;
}

img
{
	display:inline;
	vertical-align: middle;
	border: none;	
}


a.list_member
{
	color: #ABB8D2;
	font-weight: bold;	
	padding-left: 5px;
	padding-right: 5px;	
	text-decoration: none;
	
}


#content #member_search_form
{
	float: left; 
	padding-top: 8px; 
	padding-bottom: 0px;
	display: block;	
}


#right .module #fileshare_list h3.fileshare_list
{
	background-color: #EEEEEE;
	color: #000000;
	text-align: center;
	width: auto;
}


#right .module #fileshare_list
{
	border: solid 1px  #81b1c7;
	height: 200px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 190px;
	background-color: #fff;
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: left;
}


#right .module #fileshare ul 
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index: 148;
	padding-top: 8px;
}


#right #fileshare_list li
{
	padding-left: 5px;
	padding-bottom: 5px;
}

#right .module #fileshare_list ul li .list_member
{
	background-color: #EFF2F7; 
	float: left; 
	text-decoration: none;
	cursor: default;		
	vertical-align: middle;
	background: transparent;
	color: #fff;
	margin-left: 13px;
	height: 23px;
	position: relative;
	z-index: 148;
}

#right .module #fileshare_list ul li .action
{
	background-color: none; 
	float: left; 
	text-decoration: none;
	cursor: default;		
	vertical-align: middle;
	background: transparent;
	margin-left: 13px;
	height: 23px;
	position: relative;
	z-index: 148;
}


#group_name
{
	background-color: #FDE0B5; 
	border: solid 1px #BCBCE9;
	float: left; 
	margin: 2px; 
	padding: 2px; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-decoration: none;	
	vertical-align: middle;
	cursor: pointer;	
}

#fileshare_content #submit_block .button, 
	#fileshare_content #submit_block a.button
{
	background: none;
	font-size: 12px;	
    font-weight:bold;
	color:#FFFFFF !important;
    background-color:#2B388F !important;
    background-position: 0 -2189px;
    border-bottom-color: #2B388F;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #2B388F;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #2B388F;
    border-top-color: #2B388F;
	border-radius: 5px;
	-moz-border-radius: 5px;
    height: 25px;
	padding-bottom: 3px;
}



#fileshare_content .submit_block a.button,
#fileshare_content .submit_block a.button a:visited
{
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 2px 2px 8px #CCC;
	border: solid 1px #ddd;
	
}

#fileshare_content #mail_group_members .submit_block button a:visited
{
	text-decoration: none;
}

#fileshare_content #mail_group_members .submit_block button a:hover
{
	cursor: pointer;	
}

.private
{
	color: #990000;
	font-size: 10px;
}

/* Letter section headings */
.heading_black
{
	font-size: 15px;
	font: Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: #000000;
    border-bottom: 1px solid #808080;
}




#fileshare #program_scrollbox 
{
  clear: left;
}

#fileshare #program_scrollbox  ul  
{
  margin:0;
  padding: 0;
  list-style:none;
  text-align: left;
  height: 25px;
  vertical-align: middle;
}

#fileshare_content #alpha_tabs
{
	float: left;
	margin-top: 20px;
	width: 3em;	
}


#fileshare_content #alpha_tabs ul
{
	display: inline-block;
	float: left;	
 	list-style: none;
	border-top:	solid 1px #AAA;
	border-left: solid 1px #AAA;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom: solid 1px #AAA;
	height:auto;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	padding-left: 8px;
	padding-right: 0px;
	margin-right: 0px;	
	margin-left: 5px;	
}


#fileshare_content #alpha_tabs ul li
{
}

#fileshare_content #alpha_tabs a
{
	clear: both;
	float: left;	
}

#fileshare_content #alpha_tabs a.alphabet
{
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#2B388F;
	font-weight: bold;
	text-decoration:none;
	text-align: center;
}


#fileshare_content #alpha_tabs a.disabled
{
	color: #aaa;
  	font-weight: normal;
  text-decoration:none!important; 
}

#fileshare_content #alpha_tabs a.disabled:hover
{
 	color: #aaa;
}


#fileshare #program_scrollbox  ul li
{
	vertical-align: middle;	
	display: block;
	float: left;
}

#fileshare #program_scrollbox ul li.action
{
	padding: none;
	width: 30px;
	min-height: 25px;
	margin-top: 5px;
	/* Hack to provide min-height for IE 6 */
	height:auto !important; 
	display: block;
 }

  
#fileshare #program_scrollbox li a,
	#fileshare #poc_scrollbox a
	#fileshare #address_book_scrollbox a	
{
  font-weight:bold;
  color:#000;
  outline: none;
  display: inline;
 }



/* Commented Backslash Hack

   hides rule from IE5-Mac \*/

#fileshare #program_scrollbox .list_member li a {float:none;}

/* End IE5-Mac hack */

#fileshare #program_scrollbox .list_member li a:link ,  #fileshare #program_scrollbox  .list_member li a:visited 
{
  text-decoration: none;
}

#fileshare #program_scrollbox .list_member li a:hover, #fileshare #program_scrollbox  .list_member li a:active
{
  text-decoration: none;
  color: #333;
}

#fileshare #program_scrollbox .list_member li a.disabled
{
	color: #333;
}

#fileshare #program_scrollbox .list_member li a.disabled:hover
{
	color: #333;
	text-decoration: none;
}



#top_menu
{
	width: 750px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 5px;
	float: right;
	min-height: 40px;
}

#top_menu a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000066!important; 
	font-weight: bold;
	text-decoration:none;
}


#fileshare_content label.group_title
{
	padding-bottom: 20px; 
	padding-top: 20px; 
	padding-right: 10px;
}


/* box border under tab bar */
#tab_border {
	clear: left;
	border: solid 1px #000; 
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 10px;
	padding-bottom: 4px;
	width: 98%;
}
