@CHARSET "ISO-8859-1";

.message
{
	border: solid 1px #666;
	background-color: #ffffff;
	padding: 5px 25px;
	margin-bottom: 8px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.message .button
{
/*
	float: right;
*/
}

.message .small
{
	font-size: 11px;
}

.message .title
{
	display: block;
	border-bottom: solid 1px #666;
	margin-bottom: 10px;
}

.message_controls
{
	text-align: right;
	font-size: 10px;
}

#content .message_controls a:link, #content .message_controls a:visited
{
	color: #335;
	text-decoration: none;
}

#content .message_controls a:hover, #content .message_controls a:active
{
	text-decoration: underline;
}

.quote
{
	border: dashed 1px #666;
	margin: 10px;
	padding: 5px;
	background-color: #ddd;
	color: #444;
}


/* div for for a forum list of ul li items in a module box */ 
.module_list
{
 	background-color: #FFFFFF;
    border: 1px solid #666666;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 220px;
}

/* The header of a forum module list box */
.module_header
{
	background: url(/fakoli/images/module_header.gif) transparent top no-repeat;	
	color: #fff;
	text-align: center;
  	font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding: 5px;
    width: 212px;	
    font-weight: bold;
    padding: 5px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

/* forum module list */
.module_list ul
{
	padding-right: 3px;
	padding-left: 18px;
}
