@CHARSET "ISO-8859-1";

a.multi_select_dropdown
{
	display: inline-block;
	border: solid 1px #333;
	border-radius: 5px;
	box-shadow: inset -2px -2px 3px #888;
	padding: 2px 20px 2px 5px;
	color: #333;
	text-decoration: none;
	background: url(/fakoli/images/open.gif) right 5px center no-repeat #e8e8e8;
	margin-right: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.multi_select_dropdown_list
{
	position: absolute;
	display: none;
	border: solid 1px #666;
	background: #fff;
	box-shadow: 2px 2px 5px #333;
	z-index: 700;
	padding-right: 20px;
}

.multi_select_dropdown_list label
{
	font-weight: normal;
}

.selectbox label, .scrollbox label {
  font-size: 10pt;
  font-weight: normal;
}