@CHARSET "ISO-8859-1";

#tabs,
#popup_tabs 
{

  width:100%;
  background:#ffffff;
  font-size:12px;
  line-height:18px;
  text-align: center;
  clear: left;
  padding-top: 12px;
}

#tabs ul,
#popup_tabs ul  
{
  margin:0;
  padding: 0;
  padding-top: 2px;
  list-style:none;
  text-align: center;
  height: 24px;
}

#tabs li,
#popup_tabs li 
{
  float:left;
  background:url(/templates/images/tab_left.gif) no-repeat left top;
  margin:0;
  padding: 0;
  padding-left: 10px;
  font-size: 9pt;
  text-align: center;
  color: #000000;
 }
  
#tabs a,
#popup_tabs a
{
  float:left;
  display:block;
  background:url(/templates/images/tab_right.gif) no-repeat right top;
  padding:3px 15px 3px 3px;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  border: none !important;
}



/* Commented Backslash Hack

   hides rule from IE5-Mac \*/

#tabs a {float:none;}

#popup_tabs a {float:none;}

/* End IE5-Mac hack */

#tabs a:link,  
#tabs a:visited,
#popup_tabs a:link,  
#popup_tabs a:visited
{
  text-decoration: none;
  color: #000000;
}

#tabs a:hover, 
#tabs a:active,
#popup_tabs a:hover, 
#popup_tabs a:active
{
  color: #000000;
  background-color: #2B388F; 
}

#tabs a.disabled,
#popup_tabs a.disabled
{
	color: #aaa;
  	font-weight: normal;
}

#tabs a.disabled:hover,
#popup_tabs a.disabled:hover
{
 	color: #aaa;
}



#tabs .current,
#popup_tabs .current
{
  color: #000000;
  background-image:url(/templates/images/tab_left_on.gif);
}


#tabs .current a,
#popup_tabs .current a
{
  background-image:url(/templates/images/tab_right_on.gif);
  color: #FFFFFF;
  padding-bottom:4px;
}  


#subtabs
{
	background-color: #1c5892;
	clear: left;
	padding: 0;
	margin: 0;
	border-left: solid 1px #000;
	border-top: solid 1px #000;
	border-right: solid 1px #000;
	text-decoration: none;
}


#subtabs ul  
{
  margin:0;
  padding: 0;
  list-style:none;
  text-align: center;
  background-color: #A9CDED;
  height: 24px;
  width: 100%;
}

#subtabs li 
{
  float: left;
  background-color: #E0E0E0;
  border-right: solid 1px #000;
  margin:0;
  padding: 0;
  font-size: 11px;
  text-align: center;
  text-decoration: none ;
}
  
#subtabs a
{
  float:left;
  display:block;
  background-color: #a9cded;
  padding: 3px 15px 3px 15px;
  font-weight:normal;
  color: #000;
  height: 18px;
  outline: none;
  border: none !important;
}  

#subtabs a:hover {
	background-color: #1c5892;	
	color: #000000;
	text-decoration: none;
}


#subtabs li.current a,
#subtabs li.current a:hover
{
	font-weight: bold;
	background-color: #2B388F;
	color: #ffffff;
	text-decoration: none;
}



#subtabs a:visited {
	text-decoration: none;
	background-color: #E0E0E0;
 	color: #000000;
    font-weight:normal;	
}


#subtabs a:link {
	text-decoration: none;
	background-color:  #E0E0E0;
 	color: #000000;
}

#subtabs a.disabled {
	font-style: italic;
}

/* box border under tab bar */
#tab_border {
	clear: left;
	border: solid 1px #000; 
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 10px;
	padding-bottom: 4px;
}

#inner_border {
	border: dotted 1px #060;
	padding: 5px; 
	margin: 10px;
}
	

#next_page_button {
	float: right; 	
}

.tabs_dropdown 
{
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 1px 1px 3px #333333;
  display: none;
  height: 200px;
  left: 0;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 150px;
}

.tabs_dropdown ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.tabs_dropdown a,
.tabs_dropdown a:visited
{
	display: block;
	color: #000;
	text-decoration: none;
	padding: 2px;
}

.tabs_dropdown a:hover
{
	color: #fff;
	background-color: #002a6c;
}
