.grippie {
    background:#EEEEEE url('/fakoli/images/grippie.png') no-repeat scroll center;
    border-color:#666;
    border-style:solid;
    border-width:0px 1px 1px;
    cursor:s-resize;
    height:7px;
    overflow:hidden;
    width: 100%;
}

.resizable-textarea, .resizable-textarea textarea
{
    display:block;
    margin-bottom:0px;
}