table.tree
{
	border: solid 1px #000;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

table.tree td
{
	margin: 0px;
	padding: 0px !important;
}

table.tree th
{
	background-color: #002a6c;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	padding: 2px;
	font-size: 11pt;
}

table.tree div
{
	margin: 2px;
}

.tree_node_open
{
	text-decoration: none;
	display: block;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	font-weight: bold;
	padding-left: 36px;
	background: url(/fakoli/images/open.png) center left no-repeat #fff;
}

.tree_node_closed
{
	text-decoration: none;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	color: #000;
	font-weight: bold;
	padding-left: 36px;
	background: url(/fakoli/images/closed.png) center left no-repeat #fff;
}

.tree_node_leaf
{
	text-decoration: none;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	color: #000;
	font-weight: bold;
	padding-left: 36px;
	background: url(/fakoli/images/empty.png) center left no-repeat #fff;
}


.bare_node_open
{
	text-decoration: none;
	display: block;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	font-weight: bold;
	padding-left: 18px;
	background: url(/fakoli/images/toggle_open.png) center left no-repeat #fff;
}

.bare_node_closed
{
	text-decoration: none;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	color: #000;
	font-weight: bold;
	padding-left: 18px;
	background: url(/fakoli/images/toggle_closed.png) center left no-repeat #fff;
}

.bare_node_leaf
{
	text-decoration: none;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	color: #000;
	font-weight: bold;
	padding-left: 18px;
	background: url(/fakoli/images/toggle_blank.png) center left no-repeat #fff;
}


.doc_node_leaf
{
	text-decoration: none;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	color: #000;
	font-weight: normal;
	padding-left: 20px;

	background: url(/fakoli/images/msword_icon.png) center left no-repeat #fff;
}

.ppt_node_leaf
{
	text-decoration: none;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	color: #000;
	font-weight: normal;
	padding-left: 18px;
	background: url(/fakoli/images/ppt_icon.png) center left no-repeat #fff;
	
}

.pdf_node_leaf
{
	text-decoration: none;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	color: #000;
	font-weight: normal;
	padding-left: 18px;
	background: url(/fakoli/images/pdf_icon.png) center left no-repeat #fff;
}

.file_node_leaf
{
	text-decoration: none;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	color: #000;
	font-weight: normal;
	padding-left: 18px;
	background: url(/fakoli/images/file_icon.png) center left no-repeat #fff;
}

.plain_node_leaf
{
	text-decoration: none;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	color: #000;
	font-weight: normal;
	padding-left: 0px;
	background: #fff;
}

.tree a
{
	padding: 2px;
	text-decoration: none;
	color: #000;
	height: 24px;
	border-bottom: none !important;
}

.tree a:hover
{
	background-color: #002a6c;
	color: #fff;
}



.tree a.folder
{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	padding: 1px;
	border: solid 1px #fff;
}

.tree a.folder:hover
{
	background-color: #ddd;
	border: dotted 1px #fff;
}

.tree a.file
{
	text-decoration: none;
	color: #000;
	font-weight: normal;
	padding: 1px;
	border: solid 1px #fff;
}

.tree a.file:hover
{
	background-color: #ddd;
	border: dotted 1px #fff;
}

.tree a.selected
{
	color: #fff;
	background-color: #002a6c;
	padding: 1px;
	border: dotted 1px #fff;
	text-decoration: none;
}

.tree_node_leaf input
{
	border: none !important;
}

.unchecked_node_leaf
{
	text-decoration: none;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	color: #000;
	font-weight: bold;
	padding-left: 24px;
	background: url(/admin/images/toggle_blank.gif) center left no-repeat #fff;
}

.checked_node_leaf
{
	text-decoration: none;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	color: #000;
	font-weight: bold;
	padding-left: 24px;
	background: url(/admin/images/toggle_checked.gif) center left no-repeat #fff;
}