
.rteToolbar
{
	background-color: #CCCCCC;
	border: outset 1px #CCCCCC;
	margin: 2px;
}

.rteButton
{
	background-color: #CCCCCC;
	border: solid 1px #CCCCCC;
}

.rteButton:hover
{
	background-color: #DDDDDD;
	border: outset 1px #888888;
}

.rteButton:active
{
	background-color: #DDDDDD;
	border: inset 1px #888888;
}

div.rte
{
	display: block;
	position: relative;
	border: solid 1px #888888;
	background-color: #DDDDDD;
	font-family: verdana;
	font-size: 8pt;
}
