<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="BlockSvn" stopProcessing="true">
                    <match url="^\.svn/" />
                    <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="BlockGit" stopProcessing="true">
                    <match url="^\.git/" />
                    <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="RewriteNumericPageId" stopProcessing="true">
                    <match url="^([0-9]+)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="page.php?page_id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="RedirectAdminPages" stopProcessing="true">
                    <match url="^admin/page\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" negate="true" pattern="^POST$" />
                        <add input="{QUERY_STRING}" pattern="^identifier=([^=&amp;]+)&amp;component_id=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="{C:1}/{C:2}" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="RewriteAdminBare" stopProcessing="true">
                    <match url="^admin$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="page.php?identifier=index" appendQueryString="true" />
                </rule>
                <rule name="RewriteAdminPages" stopProcessing="true">
                    <match url="^admin/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="admin/page.php?identifier={R:1}" />
                </rule>
                
                <rule name="RedirectSectionPages" stopProcessing="true">
                    <match url="^page\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" negate="true" pattern="^POST$" />
                        <add input="{QUERY_STRING}" pattern="^section=([^=&amp;]+)&amp;identifier=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="{C:1}/{C:2}" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="RewriteApiCallWithRelations" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]*)/([0-9]+|\*)/([a-zA-Z0-9_,\*]+)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="page.php?section={R:1}&amp;identifier={R:2}&amp;id={R:3}&amp;relations={R:4}" appendQueryString="true" />
                </rule>
                <rule name="RewriteApiCall" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]*)/([0-9]+|\*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="page.php?section={R:1}&amp;identifier={R:2}&amp;id={R:3}" appendQueryString="true" />
                </rule>
                <rule name="RewriteSectionPages" stopProcessing="true">
                    <match url="^([^/]+)/([^/]*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="page.php?section={R:1}&amp;identifier={R:2}" />
                </rule>
                
                <rule name="RedirectPages" stopProcessing="true">
                    <match url="^page\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" />
                        <add input="{QUERY_STRING}" pattern="^identifier=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="RewritePages" stopProcessing="true">
                    <match url="^([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="page.php?identifier={R:1}" />
                </rule>
                <rule name="RewriteActions" stopProcessing="true">
                    <match url="^action/([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="action.php?component={R:1}&amp;action={R:2}" />
                </rule>
                
                <rule name="RewriteResources" stopProcessing="true">
                    <match url="^fakoli/.*?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="resource.php?path={R:0}" appendQueryString="true" />
                </rule>
                
                <rule name="RewriteComponentResources" stopProcessing="true">
                    <match url="^components/([^/]+)/(.+)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="resource.php?component={R:1}&amp;path={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
