
table.task_schedule {
  background: none repeat scroll 0 0 #ddd;
  border: medium none;
  box-shadow: 1px 1px 3px #888;
  padding: 4px;
  width: auto;
}

table.task_schedule th,
table.form table.task_schedule th 
{
  font-size: 10pt;
  font-weight: bold;
  color: #000;
}

table.task_schedule th.schedule_day {
  text-align: center;
  width: 50px;
}

table.task_schedule td.period {
  box-shadow: 1px 1px 5px #aaa inset;
  height: 25px;
  transition: all 0.5s ease 0s;
}

table.task_schedule td.period.selected 
{
  background-color: #002a6c;
}

table.task_schedule td
{
	background-color: #fff;
}
