@CHARSET "ISO-8859-1";

.imageLink a
{
	text-align: center;	
	text-decoration: none;
	color: #000;
	display: block;
	text-align: center;
	border: none;
    border-radius: 5px;
    box-shadow: none;
    transition: all .5s;
}

.imageLink img
{
	display: inline-block;
	vertical-align: middle;
}

.imageGrid 
{
	margin:0;
	padding:15px 8px 0;
	list-style: none;
}
.imageGrid li 
{
	display: block;
	margin: 4px;
	padding:0;
	vertical-align:top;
	float: left;
	position: relative;
}

body.ie7 .imageGrid li
{
	width: 150px;
	float: left;
	
}

.imageGrid li > div 
{
	display:table;
	width:150px;
}

body.ie7 .imageGrid li > div
{
	display: block;
}

.imageGrid a 
{
	background-color:#fff;
	color:#000000;
	cursor:pointer;
	display:block;
	text-decoration:none;
	height: 175px;
}

body.ie .imageGrid a
{
	text-decoration: none !important;
}

.imageGrid a:hover
{
	background-color: #337AB7;
	color: #fff;
}

.imageGrid > li .wrapImage 
{
	display:table-cell;
	height: 150px;
	vertical-align:middle;
	width: 150px;
}

body.ie7 .imageGrid > li .wrapImage 
{
	display: block;
	height: 150px;
	width: 150px;
}

.imageGrid img 
{
	border: solid 1px #ccc;
	vertical-align:middle;
	background-color: #fff;
}

body.ie7 .imageGrid img
{
	*clear: expression(
	style.marginTop = "" + (offsetHeight < parentNode.offsetHeight ? parseInt((parentNode.offsetHeight - offsetHeight) / 2) + "px" : "0"),
	style.clear = "none", 0);
}

.imageGrid .caption 
{
	display:block;
	font-size: 0.75em;
	line-height:1.1;
	padding:0.3em 5px;
	width:135px;
	position: absolute;
	bottom: 0;
	left: 0;
}

body.ie7 .imageGrid .caption,
body.ie8 .imageGrid .caption
{
	margin-bottom: 2px;
}

#image_grid
{
	width: 100%; 
	border: solid 1px #000;	
}

#images_box
{
	overflow:auto; 
	height: 260px;
	border: solid 1px #666;
	padding-bottom: 10px;
}

#container #image_gallery_detail
{
	width:100%; 
	border: solid 1px black; 
	margin: 0; 	
}

#container #image_detail
{
	padding: 0;
	padding: 8px;	
}

.image_grid
{
	display: block;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}

.image_grid li
{
	float: left;
	margin: 20px;
	cursor: pointer;
	width: 210px;
	height: 250px;
	padding: 0 0 5px;
}

.image_grid div
{
	font-size: 9pt;
	width: 200px;
	height: 240px;
	padding: 5px;
	text-align: center;
	box-shadow: 1px 1px 12px #666;
	cursor: pointer;
	line-height: 1.2;
	overflow: hidden;
}