@CHARSET "ISO-8859-1";

#slideshow
{
	width: 500px;
	border: solid 1px black;
	border-bottom: none;
}

#slideshow td
{
	padding: 0 !important;
}

#thumbnails
{
	width: 500px;
	border: solid 1px black;
	border-top: none;
}

#viewport {
	/*position: relative;*/
	float: left;
	width: 100%;
	height: 400px;
	border: none;
	overflow: hidden;
}

#gallery {
	position: relative;
	float: left;
	width: 100%;
	height: 400px;
	background: #2a2a2f;
	border: none;
	overflow: hidden;
}
 
#progress {
	position: absolute;
	margin: 10px auto;
	width: 300px;
	height: 30px;
	padding: 2px;
	z-index: 100;
	visibility: hidden;
}

#progress .border
{
	width: 300px;
	height: 15px;
	border: 2px solid #dfdfdf;
	text-align: left;
	font-size: 10px;
	font-family: sans-serif;
	color: #fff;
	background: none;
}

#progress .bar {
	position: relative;
	width: 0px;
	text-align: left;
	font-size: 10px;
	font-family: sans-serif;
	height: 15px;
	background: #888;
	color: #fff;
	font-weight: bold;
}

#progress .text
{
	font-family: sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #fff;
	text-align: left;
}

#progress_count
{
	position: relative;
	top: -14px;
	font-weight: bold;
}
#controlbar
{
	background-color: #2a2a2f;
	border-top: solid 2px #5f5f5f;
	padding: 2px;
	height: 36px;
	vertical-align: top;
}

#caption
{
	color: #fff;
	font-size: 10px;
	font-family: sans-serif;
	padding-left: 4px;
}

#credit
{
	background-color: #2a2a2f;
	border-bottom: solid 2px #5f5f5f;
	padding: 2px;
	vertical-align: middle;
	text-align: right;
	color: #fff;
	font-size: 10px;
	font-family: sans-serif;
	padding-left: 4px;
}

#caption a, #credit a
{
	text-decoration: none;
	color: #fff;
}

#caption a:hover, #credit a:hover
{
	color: #ccc;
}	

#scroll_left
{
	clear: left;
	float: left;
	width: 22px;
	background: url(/fakoli/slideshow/images/scroll_left.gif) center center no-repeat #cccccc;
	height: 80px;
	/*border: 2px solid #5f5f5f;*/
	cursor: pointer;
}

#scroll_right
{
	float: left;
	width: 22px;
	background: url(/fakoli/slideshow/images/scroll_right.gif) center center no-repeat #cccccc;
	height: 80px;
	/*border: 2px solid #5f5f5f;*/
	cursor: pointer;
}

#thumbnail_strip
{
	float: left;
	margin: 0px auto;
	width: 468px;
	height: 80px;
	background: #2a2a2f;
	vertical-align: center;
	overflow: hidden;
	position: relative;
}

#thumbnail_highlight
{
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 0px;
	z-index: 0;
	background-color: #96acf0;
	border: solid 1px #b1c2f5;
	visibility: hidden;
}

#play_button
{
	float: left;
	width: 24px;
	height: 24px;
	background-image: url(/fakoli/slideshow/images/play.gif);
	cursor: pointer;
}

#play_button .stop
{
	float: left;
	width: 24px;
	height: 24px;
	background-image: url(/fakoli/slideshow/images/stop.gif);
}	

#info_button
{
	float: left;
	width: 24px;
	height: 24px;
	background-image: url(/fakoli/slideshow/images/info.gif);
	cursor: pointer;
}

#zoom_overlay
{
	position: absolute;
	background-color: transparent;
	padding-right: 12px;
	padding-top: 12px;
	opacity: 0;
	left: 460px;
	z-index: 255;
}

#zoomer
{
	width: 24px;
	height: 120px;
	background-color: transparent;
	border: none !important;
}

#zoom_in
{
	width: 24px;
	background: url(/fakoli/slideshow/images/zoom_in.gif) center center no-repeat transparent;
	height: 24px;
	cursor: pointer;
	border: none !important;
}

#zoom_out
{
	width: 24px;
	background: url(/fakoli/slideshow/images/zoom_out.gif) center center no-repeat transparent;
	height: 24px;
	cursor: pointer;
	border: none !important;
}

#zoom_slider
{
	height: 200px;
	border: none !important;
}

#zoom_scale
{
	height: 200px;
	background: url(/fakoli/slideshow/images/zoom_tick.gif) top center transparent;
	border: none !important;
}

#zoom_thumb
{
	height: 12px;
	width: 100%;
	font-size: 7pt;
	color: #cccccc;
	position: absolute;
	cursor: pointer;
}	


#slideshow_lightbox
{
	border: solid 1px #000;
	background-color: #fff;
	padding: 4px;
	margin: 0px;
	vertical-align: top;
	width: 600px;
	display: none;
}

#close_lightbox
{
	text-decoration: none;
	color: #fff;
	font-size: 12pt;
	background-color: #336699 !important;
}

#close_lightbox:hover
{
	text-decoration: underline;
	background-color: #336699 !important;
}

#lightbox_caption
{
	font-size: 8pt;
}

#lightbox_link
{
	font-size: 8pt;
	float: right;
}

#lightbox_credit
{
	font-size: 8pt;
	float: left;
}

#lightbox_save_link
{
	font-size: 8pt;
	clear: left;
	line-height: 24px;
	width: 100%;
	text-align: center;
}

#lightbox_save_link a
{
	color: blue !important;
}


#lightbox_save_link a.button
{
	font-weight: normal;
	font-size: 8pt;
	color: #000 !important;
	border: solid 1px #888 !important;
	display: block;
	padding: 3px;
	text-decoration: none !important;
}

#lightbox_save_link a.button:visited
{
	font-weight: normal;
	color: #000;
}


#lightbox_save_link a.button:hover
{
	border: solid 1px #000 !important;
	color: #000088 !important;
}

#lightbox_save_link a
{
	color: #000 !important;
}
