@CHARSET "ISO-8859-1";

#SurveyQuestionSets .list tr.expanded td
{
	padding-left: 80px;
	margin-left: 80px;
	background: url();
}

table.survey {
	background-color: transparent;
	border: solid 1px #666;
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 100%;
	vertical-align: top;
	line-height: 20px
}

table.survey th {
	background-color: #eeeeee;
	color: #000;
	font-weight: bold;
	text-align: left;
	padding: 4px;
	border: 0;
}

table.survey td {
	padding: 4px;
	border: 0;
}

table.survey tr.alt {
	background-color: transparent;
	border: 0;
}

/* survey dashboard progress bar */
.progress_bar {
	width: 70%;
	border: 1px solid #666;
	background-color: #eeeeee;
	height: 15px;
}

.progress_bar .progress {
	background-color: #00CD00;
	height: 15px;
}

table.survey div.col2 {
	float: right;
	background-color: #fff;
	width: 25%;
	height: auto;
	z-index: 2;
	margin-right: 5px;
	padding-right: 10px;
	text-align: center;
}
/* end survey dashboard progress bar */