@CHARSET "ISO-8859-1";

#document_library_button_row
{
	padding-top: 10px;
}


#document_library .document_title
{
	font-size: 120%;
	font-weight: bold;
}

#facet_manager a.multi_select_dropdown
{
	margin-bottom: 2px;
	margin-top: 2px;
}

.document_select_text 
{
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  border-radius: 4px 4px 4px 4px;
  display: inline-block;
  overflow: hidden;
  padding: 1px;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 300px;
}