@CHARSET "ISO-8859-1";

#custom_report
{
	border: solid 1px #666;
	border-radius: 15px;
	box-shadow: 1px 1px 10px #666;
	background-color: #ddd;
	padding: 0px 30px 20px;
}

#report_table_navigator
{
	width: 300px;
	float: left;
}

div.report_table
{
	border: solid 1px #666;
	background-color: #AEBFDA;
	border-radius: 10px;
	box-shadow: 1px 1px 5px #666;
	margin-bottom: 10px;
	cursor: pointer;
}

div.report_table h3
{
	color: #fff;
	padding: 5px 10px;
	margin: 0;
}

a.report_table_help_icon
{
	float: right;
}

div.report_table_help
{
	position: absolute;
	border: solid 1px #000;
	background-color: #ffffdd;
	color: #000;
	white-space: normal;
	margin: 4px;
	padding: 4px;
	font-size: 10pt;
	z-index: 120;
	font-weight: normal;
	-moz-box-shadow: 3px 3px 8px #666; 
	box-shadow: 3px 3px 8px #666; 
	border-radius: 5px;
	visibility: hidden;	
}

div.report_table div.columns
{
	padding: 5px 10px 10px;
	background: #fff;
	border-radius: 0 0 8px 8px;
	overflow: hidden;
	display: block;
	border: none;
	cursor: default;
	color: #666;
}

div.selected_table
{
	background-color: #2B388C;
}
	
div.selected_table div.columns
{	
	background-color: #d7dee7;
	color: #000;
}
div.selected_table div.columns
{
	border-top: solid 1px #666;
}

div.report_table .select_all
{
	float: left;
}

div.report_table .show_all
{
	float: right;
}

.column, .column input
{
	cursor: pointer;
}

.column
{
	display: block;
	text-indent: -24px;
	padding-left: 24px;
}

.selected_column
{
	font-weight: bold;
}

.select_all, .show_all
{
	cursor: pointer;
}

#report_filter_navigator
{
	float: left;
	width: 530px;
	padding-left: 30px;
}


div.report_filter
{
	border: solid 1px #666;
	background-color: #444;
	border-radius: 10px;
	box-shadow: 1px 1px 5px #666;
	margin-bottom: 10px;
	cursor: pointer;
}

div.report_filter h3
{
	color: #fff;
	padding: 5px 10px;
	margin: 0;
}

div.report_filter div.filter
{
	padding: 0 10px;
	background: #eee;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
	display: block;
	border: none;
	cursor: default;
	color: #333;
}

div.selected_table div.filter
{
	border-top: solid 1px #666;
}
