
p.version_info 
{
  background-color: #fffff5;
  border: 1px solid #666;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 5px;
  position: relative;
}	


p.version_info a.approve {
  padding: 2px 8px;
  position: absolute;
  right: 2px;
  text-decoration: none;
  top: 2px;
  vertical-align: middle;
}

p.version_info a.approve:hover
{
	color: #000;
	background: #f8f8f8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMyUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiNjZmNlZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f8f8f8 13%, #cfceef 63%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,#f8f8f8), color-stop(63%,#cfceef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 13%,#cfceef 63%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 13%,#cfceef 63%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 13%,#cfceef 63%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8f8f8 13%,#cfceef 63%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#cfceef',GradientType=0 ); /* IE6-8 */
	
}
