@CHARSET "ISO-8859-1";

#feedback
{
	position: fixed;
	width: 338px;
	margin: 0;
	padding: 0;
	bottom: 0;
	right: 20px;
	z-index: 999;
}

#feedback .module
{
	background-color: transparent;
}

#feedback_closed
{
	background-color: #DDDDDD;
	
	background-image: linear-gradient(bottom, rgb(170,170,170) 1%, rgb(204,204,204) 39%, rgb(238,238,238) 77%);
	background-image: -o-linear-gradient(bottom, rgb(170,170,170) 1%, rgb(204,204,204) 39%, rgb(238,238,238) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(170,170,170) 1%, rgb(204,204,204) 39%, rgb(238,238,238) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(170,170,170) 1%, rgb(204,204,204) 39%, rgb(238,238,238) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(170,170,170) 1%, rgb(204,204,204) 39%, rgb(238,238,238) 77%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.01, rgb(170,170,170)),
		color-stop(0.39, rgb(204,204,204)),
		color-stop(0.77, rgb(238,238,238))
	);

	opacity: 0.85;
	border-radius: 5px 5px 0 0;
	border-top: solid 1px #666;
	border-left: solid 1px #666;
	border-right: solid 1px #666;
	box-shadow: 1px 1px 5px #666666;
	height: 29px;
	line-height: 29px;
	color: #000;
	font-weight: bold;
	padding-left: 9px;
	cursor: pointer;
}



#feedback_open
{
	background-color: #DDDDDD;
	
	background-image: linear-gradient(bottom, rgb(170,170,170) 1%, rgb(204,204,204) 39%, rgb(238,238,238) 77%);
	background-image: -o-linear-gradient(bottom, rgb(170,170,170) 1%, rgb(204,204,204) 39%, rgb(238,238,238) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(170,170,170) 1%, rgb(204,204,204) 39%, rgb(238,238,238) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(170,170,170) 1%, rgb(204,204,204) 39%, rgb(238,238,238) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(170,170,170) 1%, rgb(204,204,204) 39%, rgb(238,238,238) 77%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.01, rgb(170,170,170)),
		color-stop(0.39, rgb(204,204,204)),
		color-stop(0.77, rgb(238,238,238))
	);

	opacity: 0.85;
	border-radius: 5px 5px 0 0;
	border-top: solid 1px #666;
	border-left: solid 1px #666;
	border-right: solid 1px #666;
	box-shadow: 1px 1px 5px #666666;
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	height: 69px;
	line-height: 29px;
	padding-left: 7px;
	position: relative;
}

#feedback_open_title
{
	display: inline-block;
	padding: 0px 50px 0px 2px;
}

#feedback_send_button
{
	color: #666666;
	display: block;
	height: 20px;
	left: 270px;
	line-height: 20px;
	margin-top: 4px;
	padding: 0 14px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

#feedback_send_button:hover,
#feedback_send_button:active
{
	color: #000;
}
		
#feedback_textarea
{
	width: 323px;
	height: 30px;
	border: solid 1px #bfbfbf;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #444;
}

#feedback_thanks
{
	display: none;
	position: absolute;
	color: #1a355f;
	text-align: center;
	font-size: 11pt;
	top: 31px;
	left: 20px;
}

#try_this
{
	position: fixed;
	width: 99px;
	margin: 0;
	padding: 0;
	bottom: 0;
	right: 360px;
	z-index: 999;
}

#try_this_button
{
	display: block;
	width: 99px;
	margin: 0;
	padding: 0;
	line-height: 29px;
	color: #000;
	font-weight: bold;
	padding-left: 30px;
	cursor: pointer;
	background: url(/components/feedback/images/try_this.png) bottom left no-repeat transparent;
}

#try_this_button a,
#try_this_button a:link,
#try_this_button a:hover,
#try_this_button a:active
{
	color: #000;
	text-decoration: none;
}