@CHARSET "ISO-8859-1";
		
.image_picker_header
{	
	background: #f8f8f8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MyUiIHN0b3AtY29sb3I9IiNiYmJiYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f8f8f8 24%, #bbbbbb 93%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,#f8f8f8), color-stop(93%,#bbbbbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 24%,#bbbbbb 93%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 24%,#bbbbbb 93%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 24%,#bbbbbb 93%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8f8f8 24%,#bbbbbb 93%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-8 */

	border: solid 1px #666; 
	width: 95%;
	margin-left: 10px; 
	padding: 2px;
}
				
#image_picker_preview
{
border:1px inset #888;
display:table-cell;
height:200px;
text-align:center;
vertical-align:middle;
width:200px;
margin-left: 20px;
-moz-border-radius: 8px;
border-radius: 8px;
background-color: #eee;
}

</style>