

#fullcalendar
{
	border: none;
	border-collapse: collapse;
	width: 100%;
}

#fullcalendar table
{
	border-collapse: collapse;
	border: solid 1px #666;
	width: 100%;
}

#fullcalendar th
{
	text-align: center;
	border: none;
	background-color: #325E9E;
	color: #fff;
	height: 25px;
}

#fullcalendar td
{
	border: solid 1px #666;
	height: 60px;
	line-height: 100%;
	padding: 1px;
	vertical-align: top;
	background: white;
}

#fullcalendar td.month
{
	border: solid 1px #FFF;
	margin-bottom: 5px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	background: #FFF;
	font-weight: bold;
	font-size: 18px;
}

#fullcalendar td.empty
{
	background-color: #eee;
	border: none;
	border-top: solid 1px #666;
}

#fullcalendar .small
{
	font-size: 8pt;
}

#fullcalendar .time
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}


#minicalendar
{
	border: solid 1px #666666 !important;
	width: 170px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

#minicalendar table
{
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	font-size: 9px;
	text-align: center;
	width: 100%;
	
}

#minicalendar th
{
	background: #BCCBD6;
	color: #000;
	padding: 4px;
	text-align: center;
}

#minicalendar td
{
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	vertical-align: top;
	padding: 4px;
	background-color: #fff;
}

#minicalendar td.month
{
	font-weight: bold;
	font-size: 10px;
	color: #000;
	background-color: #BCCBD6;
	text-align: center;
	vertical-align: middle;
	border-right: none;
	border-bottom: #000;
}

#minicalendar td.empty
{
	background-color: #eee;
}
	
#minicalendar td.event
{
	font-weight: bold;
	background-color: #57B6DD;
}

#minicalendar td.event a:link
{
	font-size: 9px;
	margin: 0;
}

#minicalendar td.today
{
	background-color: #ffa;
}

.event_summary
{
	display: block;
	line-height: 110%;
	border: solid 1px #393683;
	padding: 1px;
	background-color: #eee;
	color: #000;
	outline: none;
	font-size: 10px;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 2px 2px 5px #AAAAAA;
	-webkit-box-shadow: 2px 2px 5px #AAAAAA;
	box-shadow: 2px 2px 5px #AAAAAA;
}

.event_summary h4
{
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding: 2px 2px;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: solid 1px #393683;
	color: #ddf;
	background-color: #393683;
}

.event_summary a.button
{
	display: block;
	width: 55px;
	padding: 0px;
	text-align: center;
	margin: 8px 2px 2px auto;
}

.event_summary .status
{
	font-weight: normal;
}

.event_summary:hover
{
	background-color: #d9e3f2;
	text-decoration: none;
}

.eventprogramtitle
{
	background-color: #393683;
	color: #fff;
	font-size: 7pt;
	width: 100%;
	padding: 1px;
	margin-bottom: 2px;
}

body.program .eventprogramtitle
{
	background-color: #393683;
}


.event_bubble
{
	display: none;
	position: absolute;
	background: url(/components/calendar/images/event_bubble_top.png) top left no-repeat transparent;
	width: 220px;
	padding-top: 16px;
	z-index: 90;
}

.event_bubble_content
{
	width: 180px;
	min-height: 60px;
	height: auto !important;
	height: 30px;
	background: url(/components/calendar/images/event_bubble_middle.png) top left repeat-y transparent;
	text-align: left;
	padding-left: 15px;
	padding-right: 40px;
}

.event_bubble_content h4
{
	margin-top: 0px;
}

.event_bubble_content h5
{
	margin: 0px;
	font-size: 11px;
}

.event_bubble_content p
{
	margin: 0;
	color: #000;
	font-size: 10px;
}

.event_bubble_bottom
{
	width: 220px;
	height: 53px;
	background: url(/components/calendar/images/event_bubble_bottom.png) top left no-repeat transparent;
}

.events_more
{
	padding-top: 4px;
	padding-bottom: 4px;
}

.event_list_detail .event_details .event_contents
{
	border-bottom: dashed 1px #CCC;
}

