@CHARSET "ISO-8859-1";

.process_progress_bar
{
	border: solid 1px #000;
	border-radius: 3px;
	background-image: linear-gradient(bottom, rgb(11,78,192) 39%, rgb(38,110,231) 70%, rgb(65,143,255) 85%);
	background-image: -o-linear-gradient(bottom, rgb(11,78,192) 39%, rgb(38,110,231) 70%, rgb(65,143,255) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(11,78,192) 39%, rgb(38,110,231) 70%, rgb(65,143,255) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(11,78,192) 39%, rgb(38,110,231) 70%, rgb(65,143,255) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(11,78,192) 39%, rgb(38,110,231) 70%, rgb(65,143,255) 85%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.39, rgb(11,78,192)),
		color-stop(0.7, rgb(38,110,231)),
		color-stop(0.85, rgb(65,143,255))
	);
	
	height: 16px;
	clear: both;
	margin: 4px -4px 4px 4px;
}

.process_message
{
	float: left;
	width: auto;
	margin: 4px;
}

.process_percentage
{
	float: right;
	width: auto;
	margin: 4px;
}
